body {
    font-family: "Almendra", serif;
    background-color: #000000;
}



.navbar {
    background-color: #333333;
    background: linear-gradient(to right, #3333336c, #0050706c, #3333336c);
    position: fixed;
    display: flex;
    justify-content: space-around;
    margin-left: -0.7%;
    top: 0px;
    width: 102%;
    box-shadow: #F4F4F4 5px 0px 3px;
}


.links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}


.nav-a {
    color: #FFC107;
    text-decoration: none;
    align-content: center;
    text-align: center;
    font-size: large;
    margin: 0 1svh ;
    width: 100px;
    transition: 500ms;

}

.nav-a:hover {
    color: red;
    text-shadow: red 0 0 10px;
    text-decoration: underline;
}

.logo {
    align-content: center;
    text-align: center;
}



.logo a {
    letter-spacing: 2px;
    color: #FFC107;
    text-decoration: double;
    font-size: min(35px,4svw);
    text-shadow: #FFC107 0px 0px 10px;
}

.logo div {
    height: 60px;
    width: 100%;
    padding-right: 5%;
    align-content: center;
    text-align: center;

}

.logo p {
    font-size: (medium,2svw);
    color: #F4F4F4;
}

@media screen and (max-width: 1200px){
    .nav-a{
        display: none;
    } 

    
}

.searchbox {
    align-content: center;
    opacity: 30%;
}

.search {

    border-radius: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    height: 30px;
    padding: 1%;
    display: flex;
}

.search input {
    border: none;
    background: transparent;

}

.search input::placeholder {
    color: #000000;
}

.search input[type="text"] {
    color: #000000;
}

.search button {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/652/218/small/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%;
    padding: 0%;
    width: 30px;
    height: 30px;
}

.head {
    height: 100svh;
    width: 100svw;
    margin-left: -1svw;
    background-image: url(https://media.rainpos.com/11393/30449_Gdarksagestackedbooktoss.jpg);
    background-attachment: fixed;
    background-position-y: center;
    background-size: cover;
}

.headglass {
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.719);
    align-content: center;
    text-align: center;
}

.headglass h1 {
    color: #F4F4F4;
    font-size: min(60px,6svw);
    text-shadow: #F4F4F4 0px 0px 10px;
    margin: 5svh;
}

.headglass button {
    box-shadow: #f4f4f41e 0px 0px 10px;
    background: transparent;
    font-size: 30px;
    padding: 20px 40px;
    transition: 400ms;
    color: #F4F4F4;
    font-family: "Almendra", serif;
}

.headglass button:hover {
    box-shadow: #f4f4f457 0px px 10px;
    background-color: #afaeae48;
    color: #000000;
}

.hr1 {
    width: 100svw;
    margin-left: -1svw;
    background-color: #000000;
    border-bottom: #000000;
}

.next {
    width: 100svw;
    margin-left: -1svw;
    background: url(22.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    min-height: 95svh;
    padding-top: 5svh;
    justify-items: center;

}

.next h2 {
    color: #F4F4F4;
    font-size: min(6svh,6svw);
    text-shadow: #F4F4F4 0px 0px 10px;
}

.featured {
    justify-items: center;
    background-color: #484f6375;
    padding: 0svh 8svw;
    border-radius: 50px;
}

.books {

    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.book {
    padding: 5px;
    margin: 20px;
    background-color: #ffffff80;
    box-shadow: #ffffff 0px 0px 10px;
    border-radius: 10px;
    border-bottom: #F4F4F4;
    padding: 1svh;
    transition: 500ms;
    width: min(25svh,24svw);
    text-align: center;
}

.book-author {
    font-size: min(15px,3svw);
    text-align: end;
    margin-top: -20px;
}

.book-name {
    font-size: min(20px,4svw);
}

.book-description{

    font-size: min(15px,3svw);
}

.book:hover {
    background-color: #ffffff40;
    box-shadow: #ffffff30 0px 0px 10px;
    border-bottom: #F4F4F430;
    transform: scale(1.1);

}

.book img {
    width: min(23svh,23svw);
    height: min(35svh,35svw);
    border-radius: 5%;
}



.next2 {
    width: 100svw;
    margin-left: -1svw;
padding-bottom: 10;
    background: url(https://m.media-amazon.com/images/I/71lniOVVc3L.jpg);
    background-attachment: fixed;
    background-size: cover;


}

.categories {
    justify-items: center;
    background-color: #484f6375;
    padding: 0svh 4svw 8svw 4svw;
    border-radius: 50px;
    margin: 10svh 2svw;

}

.categories h2 {
    color: #F4F4F4;
    font-size: min(45px,5svw);
    text-shadow: #F4F4F4 0px 0px 10px;
}

.books2 {
    padding: 1svw;
    display: flex;
    border-radius: 10px;
    transition: 500ms;
}

.book2 {
    margin: 1svw;
    background-color: #ffffff80;
    border-radius: 10px;
    border-bottom: #F4F4F4;
    padding: 0.9svw;
    transition: 500ms;
}

.book2:hover {
    background-color: #ffffff40;
    box-shadow: #ffffff30 0px 0px 1svw;
    border-bottom: #F4F4F430;
    transform: scale(1.1);
    z-index: 50;

}

.book2 img {
    width: min(10svh,10svw);
    height: min(15svh,15svw);
    border-radius: 10%;
}

.books2 h4 {
    font-size: min(20px,3svw);
    width: min(150px,12svw);
    align-content: center;
    color: whitesmoke;

}

.book2 hr {
    width: 100%;
    height: 1px;
    background-color: #F4F4F4;
    margin-bottom: 10px;
}

.foot-review {
    background: url(https://t4.ftcdn.net/jpg/08/99/11/99/360_F_899119965_ZXCGB5xmBP2HGke415tF2gr67iXYlBRg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100svw;
    margin-left: -1svw;
}

.review {
    padding: 9svh 0;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.reviewform {
    height: 60svh;
    background-color: #35353580;
    border-radius: 10px;
    justify-items: center;
    margin-bottom: 5svh;
    margin-right: 1svw;
}

.reviewform h3 {
    color: whitesmoke;
    text-align: center;
}

.label {
    display: none;
}

.box {
    width: min(50svh,70svw);
    height: 5svh;
    padding: 10px;
    background-color: #00000034;
    background-clip: padding-box;
    margin: 2svh;
    border-radius: 10px;
    border-color: #000000;
    border-width: 3px;
    color: #ffffff;
}

#review {
    height: 20svh;
}

input::placeholder {
    color: rgba(245, 245, 245, 0.6);
    align-items: top;
}


.subdiv {
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit {
    box-shadow: #ffffff1e 0px 0px 10px;
    background-color: #666666b4;
    font-size: 15px;
    padding: 5px 40px;
    transition: 400ms;
    color: whitesmoke;
    font-family: "Almendra", serif;
}

.submit:hover {
    box-shadow: #ffffff57 0px 0px 10px;
    background-color: #9b9a9aea;
    color: #000000;
}


.part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: min(100%,80svw);
    margin-bottom: 10px;
}

.normal-1-review {
    max-width: 20svw;
    margin : 1svw;
    padding: 10px;
    background-color: #3c414da1;
    border-radius: 10px;
}

.normal-1-review b {
    color: #ffffff;
    font-size: min(larger,3svw);
}

.normal-1-review p {
    color: whitesmoke;
    font-size: min(medium,2svw);
}

.normal-1-review span {
    color: #ffffff;
    font-size: min(smaller,2svw);
}

footer {
    background-color: #000000a1;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.footer p {
    margin: 10px
}

.social-icon {
    margin: 10px;
}

.social-icon img {
    width: min(30px,3svw);
    height: min(30px,3svw);
}

.back-to-top {
    margin: 10px;
    color: #fff;
    text-decoration: none;
}
